.greyOut {
    color:  #a1a39c;
    stroke: #a1a39c;
}

.string {
    color:  #00802b;
    stroke: #00cc44;
}
.stringNew {
    color:  white;
    stroke: #004d1a;
    fill  : #00802b;
}

.int {
    color:  #0000ff;
    stroke: #0000ff;
}

.uri {
    color:  #800000;
    stroke: #e60000;
}

.uriNew {
    color:  white;
    stroke: #990000;
    fill:  #cc0000;
}

.stingNew {
    color:  black;
    stroke: #ff944d;
}
